@import url(
    'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

nav {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav > img {
    padding: 10px;
    width: 20%;
    height: 20%;
}
nav > a {
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}
.borde{
    width: 100px;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    text-align: center;  
}

.box-1{
    padding-left: 10%;
    padding-right: 10%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/linea.jpeg);
    background-position: center;
    
}

.box-1 > h1{
    padding-top: 40px ;
    text-align: center;
    color: white;
    font-size: 50px;
}
.box-1 > p {
    padding-top: 20px;
    padding-bottom: 50px;
    color: white;
    font-size: 20px;
    text-align: justify;
}
.box-2{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    align-items: center;
}
.img1 > img{
    margin-right: 20px;
    width: 400px;
    height: auto;
}
.texto1{
    text-align: justify;
}
.texto1 > h2{
    font-size: 50px;
}
.texto1 > p{
    font-size: 20px;
}
.box-3{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

}
.box-3 > h2{
    margin-left: 45%;
    margin-right: 45%;
    border-bottom: 5px solid red;
    font-size: 50px;
}
.box-3 div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.box-3> div > img{
    width: 255px;
    height: 255px;
    border-radius: 50%;
    background-size: contain;
    border: 20px solid white;
    box-shadow: 4px 4px 15px; 
    margin-bottom:20px;
 
}
.box-4{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: center;
}
.box-4 > h2{
    position: absolute;
    top: -100px;
    margin-left: 45%;
    margin-right: 45%;
    border-bottom: 5px solid red;
    font-size: 50px;
}
#resultado{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: space-between;
}
#resultado > div{
    font-size:  10px;
    border: 1px solid black;
}
#btn-mostrar{
    border-radius: 30px;
    border-color: black;
    background-color: white;
    width: 70%;
    height: 30px;
    position: absolute;
    bottom: -50px;

}
footer{
    margin-top: 80px;
    padding: 20px;
    background-color: black;
}
footer > div{
    display: flex;
    justify-content: center;
    
}
footer > div > img{
    width: 100px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
footer > div {
    color: white;
    padding-bottom: 20px;
}

.d1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.d1 > h2{
    padding-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    border-bottom: 5px solid red;
}
.d1 img{
    width: 255px;
    height: auto;
    margin-left: 70px;
    border-radius: 5%;
    object-fit: cover;
}
.d2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.d2 > h2{
    padding-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    border-bottom: 5px solid red;
}
.d2 img{
    width: 255px;
    height: auto;
    margin-left: 70px;
    border-radius: 5%;
    object-fit: cover;
}

.mostrar{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
}
.abrir{
    transform: translateX(0);
}
.mostrar > img{
    height: 80%;
    object-fit: cover;
}
.salir{
    width: 40px;
    position: absolute;
    top:40px;
    right: 40px;
}

.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.form1> input{
    width: 300px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 100px;
    padding: 10px;
}
.color{
    visibility: hidden;
}
.color1{
    visibility: visible;
    color: red;
}
.form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.form2> input{
    width: 300px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 100px;
    padding: 10px;
}
.producto{
    display: flex;
    align-items: center;
    justify-content: center;
}
#producto{
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 100px;
    padding: 10px;
}
#cantidad{
    width: 50px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 100px;
    padding: 10px;
}
.plazo{
    margin-top: 20px;
}
.plazo > input{
    width: 270px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 100px;
    padding: 10px;

}
.extras{
    margin: 10px;
}
.extras >input{
    margin: 8px;
}

.privacidad{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.privacidad > p {
    width: 50%;
    margin: 20px;
}
.privacidad > label{
    margin-right: 5px;
} 

#boton{
    margin-top: 50px;
    margin-left: 50%;
    background-color:black;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 100px;
}
#map{
    width: 100%;
    height: 100vh;
}
#calcular{
    position: absolute;
    left: 220px;
    top: 320px;
    z-index: 1;
    width: 150px;
    height: 30px;
    background-color: white;
    border: 0px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}

#contacto > h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    border-bottom: 5px solid red;
    width: 30%;
}
#contacto > h2{
    font-weight: normal;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 30px;
}
