<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industrias Parker</title>
    <link rel="icon" href="../img/favicon.png">
<body>
    <nav>
        <img src="../assets/img/parker-logo.jpg" alt="">
        <a href="../index.html">Incio</a>
        <a href="./galeria.html">Galeria</a>
        <a href="./presupuesto.html">Presupuesto</a>
        <a href="./contacto.html">Contacto</a>
    </nav>
    <div id="map"></div>
    <div id="contacto">
        <h1>Entre en Contancto</h1>
        <h2>Telefono: 987682741</h2>
        <h2>Email: contacto@parker.com</h2>
    </div>
    <footer>
        <div>
            <img src="../assets/img/facebook.png" alt="Facebook">
            <img src="../assets/img/instagram.png" alt="Instagram">
            <img src="../assets/img/whatsapp.png" alt="WhatsApp">
        </div>
        <div>&copy; Industrias Parker</div>
    </footer>
    
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpnqXSwtrNe1qfhXwNpzyym_FcpLzLLOQ&loading=async&callback=initMap">
    </script>
    
    <script src="../javascript/contacto.js"></script>
</body>
</html>