<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industrias Parker</title>
    <link rel="icon" href="../img/favicon.png">
</head>  
<body>
    <nav>
        <img src="../assets/img/parker-logo.jpg" alt="">
        <a href="../index.html">Incio</a>
        <a href="./galeria.html">Galeria</a>
        <a href="./presupuesto.html">Presupuesto</a>
        <a href="./contacto.html">Contacto</a>
    </nav>
    <div class="d1">
        <h2>Division de Ingieneria Bionica</h2>
        <img src="../assets/img/Protesis.png" alt="" class="img">
        <img src="../assets/img/images.jpg" alt="" class="img">
        <img src="../assets/img/protesis-mano.jpg" alt="" class="img">
    </div>
    <div class="d2">
        <h2>Division de Diseño Electronico</h2>
        <img src="../assets/img/reloj1.jpeg" alt="" class="img">
        <img src="../assets/img/reloj-2.jpeg" alt="" class="img">
        <img src="../assets/img/drone.jpeg" alt="" class="img">
    </div>
    <div class="mostrar">
        <div>
            <img src="../assets/img/salir.png" alt="" class="salir">
        </div>
    </div>
    <footer>
        <div>
            <img src="../assets/img/facebook.png" alt="Facebook">
            <img src="../assets/img/instagram.png" alt="Instagram">
            <img src="../assets/img/whatsapp.png" alt="WhatsApp">
        </div>
        <div>&copy; Industrias Parker</div>
    </footer>
    <script src="../javascript/galeria.js"></script>
</body>
</html>